@media (min-width: 320px) and (max-width: 767px) {
  .center {
    padding-left: calc(50% - $widthMob / 2);
    padding-right: calc(50% - $widthMob / 2);
  }

  .header__left {
    margin-left: 8px;
  }

  .header__right {
    margin-right: 8px;
  }

  .logo-4 {
    display: none;
  }

  .logo-5 {
    display: none;
  }

  .top {
    min-height: 363px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);

    &__img {
      display: none;
    }

    &__description {
      border-left: 12px solid $colorSelectSite;
      margin: 0;
      padding-left: 15px;
    }

    &__title {
      font-size: 38px;
      line-height: 46px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .top-head {
    flex-direction: column;
    justify-content: center;
    gap: 32px;
  }

  .catalog {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
  }

  .item-big {
    height: 111px;
    background-image: url("img/accessories-catalog.svg");
    background-position: center;
    background-size: cover;
  }

  .img-access {
    display: none;
  }

  .filter-sort {
    padding-top: 24px;
    height: 81px;
    gap: 0;
  }

  .filter {
    &__summary {
      padding-left: 0;
    }

    &__heading {
      display: none;
    }

    &__icon-0 {
      display: none;
    }

    &__icon {
      display: block;
    }
  }

  .sort {
    gap: 24px;

    &__heading {
      @include text(400, 12px, 14px, #6F6E6E);
      width: max-content;
    }
  }

  .product-photo {
    height: auto;
    &__image {
      max-width: 374px;
      padding-top: 85px;
      padding-bottom: 85px;
    }
  }

  .product-info {
    margin-top: 0;
    border-bottom: 1px solid #EAEAEA;
    &__box {
      padding: 64px 25px;
      border: none;
    }

    &__description {
      border-bottom: none;
      padding-bottom: 0;
    }

    &__price-value {
      padding: 0 60px 32px;
      border-bottom: 1px solid #EAEAEA;
    }

    &__sort {
      padding-top: 48px;
      padding-bottom: 64px;
    }
  }

  .pis-box {
    gap: 25px;
  }

  .pis-h {
    @include text(400, 10px, 12px, #6F6E6E);
  }

  .products {
    margin-bottom: 85px;
  }

  .products-heading {
    margin-bottom: 65px;
  }

  .products-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .last-product {
    display: none;
  }

  .features {
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 64px;
  }

  .cart-items {
    padding-top: 59px;
    flex-direction: column;
  }

  .cart-box {
    gap: 32px;
  }

  .cart-item {
    width: 358px;

    img {
      max-height: 188px;
    }

    &__box {
      max-width: 144px;

      a {
        @include text(400, 16px, 19px, $colorText);
        transition: $hoverItem;
      }
    }

    &__description {
      width: 359px;
      padding-top: 13px;
      padding-left: 17px;
      padding-bottom: 0;
    }

    &__box h2 {
      align-items: center;
    }

    &__box-description {
      gap: 4px;
      margin-top: 25px;

      p {
        @include text(400, 14px, 17px, #575757);

        b {
          @include text(400, 14px, 17px, #EF5B70);
        }
      }
    }

    &__quantity {
      @include text(400, 14px, 17px, #575757);

      input {
        @include text(400, 10px, 12px, #656565);
        width: 24px;
        height: 15px;
      }
    }

    &__close {
      width: 10px;
      top: 17px;
      right: 12px;
    }
  }

  .cart-buttons {
    gap: 9px;

    a {
      @include text(300, 12px, 14px, #000000);
      padding: 9px 0;
      text-transform: none;
      width: calc($widthMob / 2 - 5px);
      display: flex;
      justify-content: center;
    }
  }

  .register {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 40px;
  }

  .register-perks {
    max-width: 354px;

    h2, p {
      @include text(300, 16px, 19px, #000000);
    }

    h2 {
      margin-bottom: 32px;
    }
  }

  .subscribe {
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 110px;
    gap: 59px;
  }

  .promotion {
    width: 320px;

    &__h1 {
      line-height: 153%;
    }

    &__h2 {
      font-size: 14px;
      line-height: 153%;
    }

    &__form {
      margin-top: 22px;

      input {
        min-width: 210px;
      }

      button {
        min-width: 80px;
      }
    }
  }

  .copyright {
    flex-direction: column-reverse;
    gap: 40px;
    padding-top: 43px;
    padding-bottom: 9px;
  }
}