@media (min-width: 736px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - $widthTable / 2);
    padding-right: calc(50% - $widthTable / 2);
  }

  .header__left {
    margin-left: 16px;
  }

  .header__right {
    margin-right: 16px;
  }

  .top {

    &__img {
      max-width: 386px;
    }

    &__description {
      padding-left: 16px;
      margin-left: 39px;
    }

    &__title {
      font-size: 44px;
      line-height: 53px;
    }

    &__subtitle {
      font-size: 24px;
      line-height: 29px;
    }
  }

  .filter-sort {
    padding-top: 24px;
    height: 81px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }

  .catalog {
    gap: 20px;
    margin-bottom: 110px;
  }

  .products {
    margin-bottom: 70px;
  }

  .last-product {
    display: none;
  }

  .products-heading {
    gap: 3px;
    margin-bottom: 72px;
  }

  .products-box {
    gap: 16px;
    justify-content: center;
    margin-bottom: 32px;
  }

  .view {
    margin-bottom: 128px;
  }

  .product__description {
    padding-left: 16px;
    padding-right: 28px;
    padding-bottom: 20px;
  }

  .cart-items {
    flex-direction: column;
    padding-top: 59px;
  }

  .cart-item {
    width: 734px;

    &__description {
      width: 734px;
    }
  }

  .cart-container {
    margin-bottom: 64px;
  }

  .cart-buttons {
    gap: 48px;
    justify-content: center;
  }

  .cart-information {
    padding-top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    &__form input {
      width: calc($widthTable/2 - 7.5px);
    }

    &__form button {
      font-weight: 400;
    }
  }

  .register {
    padding-top: 40px;
  }

  .register-perks {
    max-width: 354px;
    h2, p {
      @include text(300, 16px, 19px, #000000);
    }

    h2 {
      margin-bottom: 32px;
    }
  }

  .product-photo {
    height: auto;
    &__image {
      max-width: 466px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  .product-info {
    position: page;
    margin-top: 0;
    border-bottom: 1px solid #EAEAEA;
    &__box {
      padding: 64px 106px;
      border: none;
    }
  }

  .features {
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 64px;
  }

  .subscribe {
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 140px;
    gap: 48px;
  }

  .promotion__form {
    margin-top: 27px;
  }
}