$colorSelectSite: #F16D7F;
$colorText: #222;
$widthSite: 1140px;
$widthMob: 360px;
$widthTable: 736px;
$gapGrid: 30px;
$thirdSite: ($widthSite - 2 * $gapGrid) / 3;
$widthBurgerMenu: 232px;
$hoverItem: 0.3s;